<h1 class="text-center"><%= @commentable.name %> / Comments</h1>

  <% @comments.each do |comment| %>
  <div class="card my-3">
    <div class="card-body bg-light">
      <%= simple_format comment.content %>
    </div>
  </div>
  <% end %>
