<ul class="nav justify-content-end bg-light my-2">
  <li class="nav-item">
    <%= link_to 'Articles', articles_path, class: 'nav-link' %>
  </li> 
  <li class="nav-item">
    <%= link_to 'Photos', '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Events', '#', class: 'nav-link' %>
  </li>
</ul>
